<div class="header-container" ng-controller="HeaderCtrl">
<img src="./img/logo.png" class="logo">
    <span ng-if="adminType === adminTypes.ADMIN" ng-bind="translate('CH_HEADER_TEXT', 'Cluj Now dashboard for')">Cluj Now dashboard for</span>&nbsp;<span ng-bind="cityData.name"></span>
    <span ng-if="adminType !== adminTypes.ADMIN">Cluj Now</span>


    <div class="dropdown language-combo">
        <span class="pointer" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <!--<span ng-if="!selectedDepartment" ng-bind="translate('SELECT_DEPARTMENT', 'Select department')">Select department</span>-->
            <!--<span ng-if="selectedDepartment" ng-bind="selectedDepartment.name"></span>-->
            <img ng-src="./img/flags/{{selectedLanguage}}.png">
        </span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <!--<li ng-repeat="type in reportTypes"><a href="javascript:" ng-click="selectedReportType(type)" >{{translate(type.id, type.id)}}</a></li>-->
            <li><img src="./img/flags/ro.png"  ng-click="selectLanguage('ro')"></li>
            <li><img src="./img/flags/en.png"  ng-click="selectLanguage('en')"></li>
        </ul>
    </div>
</div>