<!DOCTYPE html>
<html lang="en" ng-app="city_alert">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico?v=3">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--<base href="/">-->
    <title>Cluj Now</title>
    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body ng-controller="MainCtrl" class="">
    <div class="container-fluid body-container">
        <div class="row">
            <div class="col-xs-12" ng-if="showMenu" ng-include="'header.html?v='+conf.versionNumber"></div>
            <div class="col-xs-12">
                <div class="menu-root" ng-include="'menu.html?v='+conf.versionNumber" ng-if="showMenu"></div>
                <!--<div class="spinner" ng-if="dataIsLoading"></div>-->
                <div class="angular-view-root" ng-view ng-class="{'has-menu': showMenu, 'data-is-loading': dataIsLoading}"></div>
            </div>
        </div>
    </div>
    <footer ng-hide="hideFooter">
        <div class="container-fluid">
            <p class="text-muted">
                <span class="pull-left">Copyright @2017 Life is Hard</span>
                <a href="#/terms" class="pull-right" ng-bind="translate('TERMS', 'Terms and conditions')">Terms and conditions</a>
            </p>

        </div>
    </footer>
    <div class="bootstrap-classes" ng-if="isDev()">
        <span class="label label-default visible-xs">xs</span>
        <span class="label label-primary visible-sm">sm</span>
        <span class="label label-success visible-md">md</span>
        <span class="label label-info  visible-lg">lg</span>
    </div>
    <script type="text/ng-template" id="confirmation-modal">
        <div class="modal-header">
            <h3 class="modal-title">{{data.title}}</h3>
            <a class="modal-close-button" href="javascript:" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </a>
        </div>

        <div class="modal-footer">
                <button class="btn btn-danger" type="button" ng-click="cancel()" ng-bind="translate('BOOL_AS_ANSWER_FALSE', 'No')">No</button>
                <button class="btn btn-primary" type="button" ng-click="ok()" ng-bind="translate('BOOL_AS_ANSWER_TRUE', 'Yes')">Yes</button>
        </div>
    </script>
    <!-- async defer -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAlB0s33qCspG2c7A6loO6aR3mrsMBfaY">
    </script>
    <!-- jquery:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>