<div class="edit-terms-container" ng-controller="EditTermsCtrl">
    <div class="row">
        <div class="col-xs-12">
            <textarea name="edit-terms" id="edit-terms" rows="30" ng-model="termsText" style="width: 100%"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="margin-bottom-20 margin-top-20 action-list">
                <a class="btn btn-primary" href="javascript:" ng-click="save()" ng-disabled="oldText === termsText">{{translate('SAVE', 'Save')}}</a>
                <!-- <a class="pull-right margin-right-30"  ng-csv="gridFactory.dataForExport()" href="javascript:" filename="notifications.csv" csv-header="gridFactory.headerForExport()"><i class="icon-download-cloud"></i>
                        {{translate('EXPORT_DATA', 'export data')}}
                    </a> -->
            </div>
        </div>
    </div>
</div>