<div class="login-container" ng-controller="LoginCtrl">
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-horizontal">
                <div class="text-center"><img src="./img/logo.png" class="logo"></div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="email-input" ng-bind="translate('USERNAME_LABEL', 'Username:')">Username:</label>
                    <div class="col-xs-9">
                        <input id="email-input" type="text" placeholder="{{translate('ENTER_USERNAME_PLACEHOLDER', '')}}" name="username" class="form-control" ng-model="runtimeData.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="email-input" ng-bind="translate('PWD_LABEL', 'Password:')">Password:</label>
                    <div class="col-xs-9">
                        <input id="pwd-input" type="password" placeholder="{{translate('ENTER_PASSWORD_PLACEHOLDER', '')}}" name="password" class="form-control"  ng-model="runtimeData.password" 
                        ng-keyup="$event.keyCode === 13 && login()">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="control-label col-xs-3" for="email-input" ng-bind="translate('REMEMBER_ME_LABEL', 'Remember me:')">Remember me:</label>
                    <div class="col-xs-9">
                        <input id="pwd-input" type="checkbox" placeholder="{{translate('ENTER_PASSWORD_PLACEHOLDER', '')}}" name="password"  ng-model="runtimeData.remember">
                    </div>
                </div> -->
                <!-- <div class="form-group">
                    <label>Remember Me</label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div> -->
                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="login()"  ng-bind="translate('LOGIN', 'Login')">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>