<div class="reported-issues-container" ng-controller="ReportedIssuesController">
    <div class="row">
        <div  class="col-xs-12" >
            <div class="ch-page-header" ng-bind="translate('REPORTED_ISSUES', 'Reported Issues')">
                Reported Issues
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="filter-box-container">
                <span ng-repeat="filter in filters" class="filter-box" ng-class="filter.key" ng-click="toggleFilterSelection(filter)">
                  <input class="no-user-interaction" type="checkbox" ng-model="filter.selected" id="chbx-{{filter.key}}" >
                    <label class="no-user-interaction" for="chbx-{{filter.key}}" ng-bind-html="translate('REPORT_'+filter.key, filter.key, true)"></label>
                </span>
            </div>
        </div>
    </div>
    <div class="black-bordered-container">
        <label class="margin-bottom-5 margin-left-2" ng-bind="translate('ISSUES_OF_TYPE', 'Display issues of type')">Display issues of type</label>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span ng-bind="translate(selectedReportType.key, selectedReportType.key)"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                <li ng-repeat-start="type in reportTypes" ng-if="$index == 1" role="separator" class="divider"></li>
                <li ng-repeat-end="type in reportTypes"><a href="javascript:" ng-click="selectReportType(type)" >{{translate(type.key, type.key)}}</a></li>

            </ul>
        </div>
    </div>

    <div class="margin-bottom-20 margin-top-20 action-list">
        <!--<a class="btn btn-primary" href="javascript:" ng-click="addIssue()">{{translate('ADD', 'Add')}}</a>-->
        <a class="pull-right margin-right-30" href="javascript:" ng-click="showOnMap()"><i class="icon-map"></i>{{translate('VIEW_ON_MAP', 'view on map')}}</a>
        <a class="pull-right margin-right-30" href="javascript:" ng-click="hideMap()"><i class="icon-list"></i>{{translate('VIEW_LIST', 'view as a list')}}</a>
        <a class="pull-right margin-right-30"  ng-csv="gridFactory.dataForExport()" href="javascript:" filename="reported_issues.csv" csv-header="gridFactory.headerForExport()"><i class="icon-download-cloud"></i>{{translate('EXPORT_DATA', 'export data')}}</a>
    </div>

    <div class="gray-bordered-box">
        <grid id="issues_grid" grid-factory="gridFactory" data-actions="actions" ng-if="runtimeData.dataLoaded && runtimeData.listMode"></grid>
        <ng-map style="height: 487px !important;" zoom="15" ng-if="!runtimeData.listMode">
            <!--<div ng-repeat="issue in gridFactory.items" ng-if="issue.visible" ></div>-->
            <custom-marker id="{{$index}}_{{issue.type}}" ng-repeat="issue in gridFactory.items track by $index" ng-if="issue.visible" position="{{issue.latitude}}, {{issue.longitude}}">
                <div class="map-marker-background">
                    <div class="map-marker-rectangle"></div>
                    <div class="map-marker-body">
                        <img class="report-type-icon map-marker-border" ng-src="./img/report_types/{{issue.type}}.png" >
                    </div>
                </div>
            </custom-marker>
        </ng-map>
    </div>


    <script type="text/ng-template" id="action-popup.html">
        <div class="modal-header">
            <h3 class="modal-title" ng-bind="translate(data.key, data.key)"></h3>
            <a class="modal-close-button" href="javascript:" ng-click="cancel()"><i class="fa fa-times"></i></a>
        </div>
        <div class="modal-body edit-property-modal-body">

            <div class="row">
                <div class="col-xs-12" ng-if="data.key == 'change_status'">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="ddChangeStatusPopup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span ng-bind="translate(selectedStatus, selectedStatus)"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ddChangeStatusPopup">

                            <!--<li ng-repeat-start="status in statuses" ng-if="$index == 1" role="separator" class="divider"></li>-->
                            <li ng-repeat="status in statuses">
                                <a href="javascript:" ng-click="selectStatus(status)" >{{translate(status, status)}}</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xs-12" ng-if="data.key === 'respond'">
                    <textarea class="w-100p-textarea" ng-model="runtimeData.response"></textarea>
                </div>

            </div>
        </div>
        <div class="modal-footer">

            <button class="btn btn-danger" type="button" ng-click="cancel()" ng-bind="translate('CANCEL', 'Cancel')">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()" ng-bind="translate('SAVE', 'Save')">Save</button>
        </div>
    </script>

</div>