<div class="view-issue-container">
    <div class="row">
        <div  class="col-xs-12" >
            <div class="ch-page-header">
                <span ng-bind="translate('VIEW_ISSUE', 'View Issue')">View issue</span>
                <span class="text-primary pull-right" ng-if="dataLoaded">
                    <span ng-bind="translate('RANK', 'Rank')">Rank</span>:
                    <span ng-bind="issue.votesCount"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row top-data" ng-if="dataLoaded">
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3"><label>{{translate('STATUS', 'Status')}}:</label></div>
        <div class="col-xs-7 col-sm-8 col-md-3 col-lg-3">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="view-issue-change-status-combo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span ng-bind="translate(selectedStatus, selectedStatus)"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="view-issue-change-status-combo">
                    <!--<li ng-repeat-start="status in statuses" ng-if="$index == 1" role="separator" class="divider"></li>-->
                    <li ng-repeat="status in statuses">
                        <a href="javascript:" ng-click="selectStatus(status)" >{{translate(status, status)}}</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-xs-5 col-sm-4  col-md-3 col-lg-3"><label ng-bind="translate('REPORT_DATE_TIME', 'Issue created at:')">Issue created at:</label></div>
        <div class="col-xs-7 col-sm-8   col-md-3 col-lg-3">
            {{issue.createdAt | chDateTime:'x'}}
        </div>

        <div class="col-xs-5 col-sm-4   col-md-3 col-lg-3"><label ng-bind="translate('REPORTED_BY', 'Reported by:')">Reported by:</label></div>
        <div class="col-xs-7 col-sm-8  col-md-3 col-lg-3">
            {{reporter.fullName || translate('ANONYMUS', 'Anonymus')}}
        </div>

        <div class="col-xs-5 col-sm-4  col-md-3"><label>{{translate('THE_TYPE', 'Type:')}}</label></div>
        <div class="col-xs-7 col-sm-8  col-md-3">
            {{translate(issue.type, issue.type)}}
        </div>

        <div class="col-xs-5 col-sm-4 col-md-3"><label>{{translate('LOCATION', 'Location')}}:</label></div>
        <div class="col-xs-7 col-sm-8  col-md-3">
            {{issue.locality}}, {{issue.street}} {{issue.streetNumber}}
        </div>

        <div class="col-xs-5 col-sm-4  col-md-3"><label>{{translate('FEEDBACK', 'Feedback Needed')}}:</label></div>
        <div class="col-xs-7 col-sm-8  col-md-3">
            {{translate('BOOL_AS_ANSWER_'+issue.feedbackNeeded)}}
        </div>
    </div>

    <div class="row margin-bottom-20">
        <div class="col-xs-12"><h4>{{translate('COMMENT', 'Comment')}}:</h4></div>
        <div class="col-xs-12">
            <textarea disabled class="w-100p-textarea has-bg" ng-model="issue.comment"></textarea>
        </div>
    </div>
    <div class="row margin-bottom-20 attached-images" ng-if="issue.imageUrl">
        <div class="col-xs-12"><h4>{{translate('ATTACHED_PICTURES', 'Attached pictures')}}:</h4></div>
        <div class="col-xs-12">
           <img ng-src="{{issue.imageUrl}}">
        </div>
    </div>
    <div class="row margin-bottom-20" >
        <div class="col-xs-12"><h4>{{translate('SEND_RESPONSE', 'Send response')}}:</h4></div>
        <div class="col-xs-12">
            <textarea  class="w-100p-textarea " ng-model="issue.response"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="margin-bottom-20 margin-top-20 action-list">
                <a class="btn btn-primary" href="javascript:"  ng-click="saveIssue()">{{translate('SAVE', 'Save')}}</a>
                <a class="btn btn-danger" href="javascript:" ng-click="goTo('reported-issues/')">{{translate('CANCEL', 'Cancel')}}</a>
            </div>
        </div>
    </div>
</div>