<div class="menu-container" ng-controller="MenuCtrl">
    <aspect-ratio-container ratio="1:1" class="dashboard" ng-if="currentAdminType()  !== null" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.DASHBOARD)}"
        ng-click="select(menuService.MENU_POINTS.DASHBOARD)">
        <div class="content">
            <span class="glyphicon glyphicon-th"></span>
            <br>
            <label ng-bind="translate('DASHBOARD', 'Dashboard', false, selectedLanguage)">Dashboard</label>
        </div>
    </aspect-ratio-container>
    <aspect-ratio-container ratio="1:1" class="notify" ng-if="currentAdminType()  !== null" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.NOTIFY)}"
        ng-click="select(menuService.MENU_POINTS.NOTIFY)">
        <div class="content">
            <span class="glyphicon glyphicon-comment"></span>
            <br>
            <label ng-bind="translate('NOTIFY', 'Notify')">Notify</label>
        </div>
    </aspect-ratio-container>

    <aspect-ratio-container ratio="1:1" class="settings" ng-if="currentAdminType() == adminTypes.APP_ADMIN" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.SETTINGS)}"
        ng-click="select(menuService.MENU_POINTS.SETTINGS)">
        <div class="content">
            <span class="glyphicon glyphicon-cog"></span>
            <br>
            <label ng-bind="translate('SETTINGS', 'Settings', false, selectedLanguage)">Settings</label>
        </div>
    </aspect-ratio-container>
    <!-- <aspect-ratio-container ratio="1:1" class="reported-issues" ng-if="currentAdminType()  !== null" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.REPORTED_ISSUES)}"
        ng-click="select(menuService.MENU_POINTS.REPORTED_ISSUES)">
        <div class="content">
            <span class="glyphicon glyphicon-map-marker"></span>
            <br>
            <label ng-bind="translate('REPORTED_ISSUES', 'Raportari')">Raportari</label>

        </div>
    </aspect-ratio-container> -->
    <aspect-ratio-container ratio="1:1" class="user-accounts" ng-if="currentAdminType() == adminTypes.APP_ADMIN" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.USER_ACCOUNTS)}"
        ng-click="select(menuService.MENU_POINTS.USER_ACCOUNTS)">
        <div class="content">
            <span class="glyphicon glyphicon-user"></span>
            <br>
            <label ng-bind="translate('USER_ACCOUNTS', 'Utilizatori')">Raportari</label>
        </div>
    </aspect-ratio-container>

    <aspect-ratio-container ratio="1:1" class="notify"  ng-if="currentAdminType() == adminTypes.APP_ADMIN" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.TERMS)}"
        ng-click="select(menuService.MENU_POINTS.TERMS)">
        <div class="content">
            <span class="glyphicon glyphicon-list-alt"></span>
            <br>
            <label ng-bind="translate('TERMS', 'Terms and conditions')">Terms and conditions</label>
        </div>
    </aspect-ratio-container>
    
    <aspect-ratio-container ratio="1:1" class="notify"  ng-if="currentAdminType() == adminTypes.APP_ADMIN" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.DB_INFO)}"
        ng-click="select(menuService.MENU_POINTS.DB_INFO)">
        <div class="content">
            <span class="glyphicon glyphicon-tasks"></span>
            <br>
            <label ng-bind="translate('DB_INFO', 'Database info')">Database info</label>
        </div>
    </aspect-ratio-container>
 
    <aspect-ratio-container ratio="1:1" class="notify"  ng-if="currentAdminType() == adminTypes.APP_ADMIN" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.LOG)}"
        ng-click="select(menuService.MENU_POINTS.LOG)">
        <div class="content">
            <span class="glyphicon glyphicon-stats"></span>
            <br>
            <label>Log</label>
        </div>
    </aspect-ratio-container>

    <!-- <aspect-ratio-container ratio="1:1" class="city-data" ng-if="currentAdminType() == adminTypes.ADMIN"
                            ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.CITY_DATA)}"
                            ng-click="select(menuService.MENU_POINTS.CITY_DATA)">
        <div class="content">
            <span class="glyphicon glyphicon-heart"></span><br>
            <label ng-bind="translate('CITY_DATA', 'City Data')">City Data</label>
        </div>
    </aspect-ratio-container> -->
    <!-- <aspect-ratio-container ratio="1:1" class="email" ng-if="currentAdminType() == adminTypes.APP_ADMIN"
                            ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.EMAIL)}"
                            ng-click="select(menuService.MENU_POINTS.EMAIL)">
        <div class="content">
            <span class="glyphicon glyphicon-envelope"></span><br>
            <label ng-bind="translate('EMAIL_SETTINGS', 'Email Settings')">Email Settings</label>
        </div>
    </aspect-ratio-container> -->
    <aspect-ratio-container ratio="1:1" class="logout" ng-if="currentAdminType() !== null" ng-class="{selected: menuService.isSelected(menuService.MENU_POINTS.LOGOUT)}"
        ng-click="select(menuService.MENU_POINTS.LOGOUT)">
        <div class="content">
            <span class="glyphicon glyphicon-off"></span>
            <br>
            <label ng-bind="translate('LOGOUT', 'Logout')">Logout</label>
        </div>
    </aspect-ratio-container>
</div>