.aspect-ratio-container {
  width: 100%;
  position: relative;
  .aspect-ratio-body {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    ng-transclude {
      &>*{
        //width: 100%;
        //height: 100%;
      }
    }
  }
}