.city-data-container {

  .widgets-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .widget {
      //flex-grow: 1;
      flex-basis: content;
      border: 1px solid $grayBorder;
      background: $bgColor;
      padding: 10px;
      width: 350px;
      margin: 0 10px 20px 10px;
      //max-width: 40%;
      position: relative;
      .dropdown-container {
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        label {
          margin-right: 10px;
          margin-bottom: 0;
          max-width: none;
        }
      }
      label {
        font-weight: normal;
        //line-height: 34px;
        max-width: calc(100% - 115px);
        margin: 7px 0 10px 0;
      }
      input {
        max-width: 100%;
        margin-top: 5px;
        padding: 1px 5px;
        &.mu {
          width: 135px;
        }
      }
      textarea {
        width: 100%;
        max-width: 100%;
        padding: 1px 5px;
        margin-top: 5px;
      }
    }

  }

}