.full-width-select {
    button {
        width: 100%;
        text-align: left;
    }
    .caret {
        top: 50%;
        position: absolute;
        right: 10px;
        transform: translateY(-50%);
    }
    // &.has-button {
    //     width: calc(100% - 44px);
    // }
    // &.has-button-2 {
    //     width: calc(100% - 88px);
    // }
    @for $i from 1 through 4 {
        &.has-button-#{$i} {
            width: calc(100% - (44px * #{$i}));
        }
    }
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        margin: 30px auto;
    }
}

input:disabled, .btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    // cursor: not-allowed !important;
    pointer-events: none;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65 ;
}