grid {
  display: inline-block;
  width: 100%;
}
.grid-container {
  .grid-table-container {
    overflow: hidden;
    overflow-x: scroll;
  }

  .grid {
    width: 100%;
    border-collapse: collapse;
    &table, th, td {
      border: 1px solid #ddd;
    }
    tr {
      background-color: white;
      &:hover {
        background-color: rgba(210, 210, 210, .1);
      }
    }
    td {
      text-align: center;
      padding: 10px;
      min-width: 150px;
      .separator {
        font-size: 16px;
        margin: 0 5px;
      }
      &.row-selection {
        width: 50px;
        min-width: 50px;
      }
    }
    th {
      background-color: $blueColor;
      color: white;
      padding: 10px;
      .glyphicon {
        display: inline-block;
        width: 14px;
        height: 14px;
        //margin-right: 10px;
      }
      &.row-selection {
        text-align: center;
      }
    }
  }
  .total-pages-container {
    line-height: 34px;
    margin-left: 15px;
  }

  .multiple-links {
    span:first-child {
      .separator:first-child {
        display: none;
      }
    }
  }
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: $blueColor;
  border-color: $blueColor;
}
