.header-container {
  background: $blueColor;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 30px;
  .logo {
    height: 30px;
    margin-right: 20px;
  }

  .language-combo {
    position: absolute;
    right: 30px;
    top: 10px;
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .dropdown-menu {
      min-width: 33px;
      border: none;
      overflow: hidden;
      li {
        &:hover {
          background: rgba(10, 10, 10, 0.1);
          border-radius: 5px;
        }
      }
    }
  }
}