.log-container {
    padding: 20px;

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    td,th {
        min-width: 300px; 
        word-break: break-all;
        padding: 20px;
    }
    tr:hover {
        background-color: rgba(0,0,0,0.2);
    }
}