.menu-container {
  .aspect-ratio-body {
    padding: 10px;
    border: 1px solid $grayBorder;
  }
  aspect-ratio-container {
    cursor: pointer;
    text-align: center;

    .aspect-ratio-container {
      margin-bottom: 10px;
      background: $bgColor;
      &:hover {
        background: white;
      }
    }

    &.selected {
      .aspect-ratio-body {
        background: $blueColor;
        .glyphicon {
          color: white;
        }
        label {
          color: white;
        }
      }
    }
    .content {
      display: inline-block;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      position: absolute;
    }
  }

  .glyphicon {
    font-size: 40px;
  }

  label {
    margin-top: 10px;
    cursor: pointer;
    font-weight: normal;
    max-width: 90%;
  }

  // .dashboard, .settings, .logout, .email {
    .glyphicon {
      color: $blueColor;
    }
  // }
  // .reported-issues, .notify, .city-data {
  //   .glyphicon {
  //     color: $redColor;
  //   }
  // }

  @media all and (max-width: 999px) {
    .aspect-ratio-container .content {
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      .glyphicon:before {
        height: 20px;
        width: 20px;
      }
    }
    .aspect-ratio-body {
      padding: 0;
    }
    label, br {
      display: none;
      visibility: hidden;
    }
    .glyphicon {
      font-size: 20px;
    }
  }
}