.notify-container {
  .filter-box-container {
    label {
      vertical-align: top;
      margin-bottom: 0;
      font-weight: normal;
    }
  }
}


.will-be-sent-container {
  .input-group {
    max-width: calc(50% - 50px);
  }
}

.col {
  // margin-bottom: 5px!important;
  &>input {
    width: 100%;
    margin-bottom: 5px;
  }
}

// label {
//   font-weight: normal;
// }

.view-notify-container {
  input {
    pointer-events: none;
    border-radius: 0;
    border-color: black;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
  }
  * {
    line-height: 34px;
  }
}

.edit-notify-container, .view-notify-container {
  .type-selection {
    .dropdown-menu {
      min-width: 180px;
    }
  }

  input, label {
    line-height: 34px;
    margin-bottom: 0;
  }
  .input-group {
    margin-bottom: 5px;
    max-width: calc(50% - 5px);
  }

  // .flex-box {
  //   display: flex;
  //   flex-wrap: wrap;
  //   label {
  //     line-height: 34px;
  //   }
  // }
  .mw-124px {
    min-width: 124px;
    display: inline-block;
  }
  .mw-92px {
    min-width: 92px;
    display: inline-block;
  }
  .mw-73px {
    min-width: 73px;
    display: inline-block;
  }
  .mw-62px {
    min-width: 62px;
    display: inline-block;
  }
  .mw-43px {
    min-width: 43px;
    display: inline-block;
  }
  .dropdown-toggle {
    vertical-align: top;
    line-height: 32px;
  }
  .image-selection {
    line-height: 34px;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    img {
      height: 32px;
      width: 32px;
    }
    li {
      text-align: left;
      padding: 0 12px;
    }
  }
  .dropdown-menu {
    li>span:not(.btn-group) {
      pointer-events: none;
    }
  }
}

.district-dropdown-toggle {
  &>span {
      display: block;
      max-width: calc(100% - 8px);
      overflow: hidden;
  }
}