.settings-container {
  .report-type-container {
    min-height: 140px;
    .report-type-icon-container {
      border-radius: 50%;
      border: 3px solid $yellowColor;
      display: inline-block;
      width: 55px;
      height: 55px;
      box-sizing: content-box;
      margin-bottom: 15px;
      .report-type-icon {
        width: 55px;
        height: 55px;
      }
      &.other {
        background: $yellowColor;
      }
    }
    .phone-number-icon-container {
      border-radius: 50%;
      border: 3px solid $grayBorder;
      display: inline-block;
      width: 55px;
      height: 55px;
      box-sizing: content-box;
      margin-bottom: 15px;
      .phone-number-icon {
        margin-top: 12px;
        width: 30px;
        height: 30px;
      }
      &.other {
        background: $yellowColor;
      }
    }
  }
  input[type='checkbox'] {
    cursor: pointer;
  }
  label {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-weight: 400;
    text-transform: uppercase;
    max-width: calc(100% - 30px);
  }
}

.add-notification-popup-body {
  line-height: 34px;
  .image-selection {
    line-height: 40px;
    li {
      text-align: center;
      &:hover {
        background-color: rgba(0,0,0,.1); 
      }
    }
    img {
      width: 40px;
      height: 40px;
    }
    .dropdown-toggle {
      padding: 0 12px;
    }
  }
}