@mixin gradientBackround($color) {
  background: $color;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, $color);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, $color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input, textarea, input:focus, textarea:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

input:not([type="checkbox"]) {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.body-container {
  .menu-root {
    width: 130px;
    float: left;
  }
  .angular-view-root {
    &.has-menu {
      width: calc(100% - 160px);
      float: left;
      margin-left: 30px;
    }
  }

  @media all and (max-width:999px)  {
    .menu-root {
      width: 40px;
    }
    .angular-view-root {
      &.has-menu {
        width: calc(100% - 55px);
        margin-left: 15px;
      }
    }
  }
}

.line-separator {
  padding: 5px 0;
}

.image-selection {
  line-height: 40px;
  li {
    text-align: center;
    &:hover {
      background-color: rgba(0,0,0,.1); 
    }
  }
  img {
    width: 40px;
    height: 40px;
  }
  .dropdown-toggle {
    padding: 0 12px;
  }
}

input[type='checkbox'] {
  cursor: pointer;
}
input.form-control,input.form-control:focus {
  border:1px solid rgb(204, 204, 204);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}


.form-horizontal {
  .control-label {
    text-align: left !important;
    padding-top: 7px;
    margin-bottom: 0;
  }
}

.black-bordered-container {
  padding: 20px;
  border: 1px solid black;
}

.dropdown-menu {
  max-height: 305px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.action-list {
  display: inline-block;
  width: 100%;
  .btn {
    line-height: inherit !important;
  }
  a {
    line-height: 34px;
  }
  i {
    color: black;
    font-size: 20px;
    line-height: 34px;
    float: left;
    margin-right: 5px;
  }
}

.filter-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px;
  box-sizing: content-box;
  .filter-box {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    min-width: 250px;
    line-height: 22px;
    cursor: pointer;

    &.today_notifications {
      @include gradientBackround(rgb(223,237,214));
    }
    
    &.in_progress, &.expired_notifications {
      
      @include gradientBackround(rgb(255,241,215));
    }
    &.future_notifications {
      @include gradientBackround(rgb(212,227,252));
    }
    &.active_notifications {
      @include gradientBackround(#ECE9E6);
    }
    &.category_1 {
      @include gradientBackround(rgb(238, 252, 212));
    }
    &.category_2 {
      @include gradientBackround( rgb(250, 225, 162));
    }
    &.category_3 {
      @include gradientBackround( rgb(252, 227, 212));
    }
    &.category_4 {
      @include gradientBackround( rgb(238, 193, 252));
    }
    &.category_5 {
      @include gradientBackround( rgb(166, 179, 250));
    }
    &.category_6 {
      @include gradientBackround( rgb(250, 249, 166));
    }
    &.category_7 {
      @include gradientBackround( rgb(250, 143, 179));
    }
  }
}

.no-user-interaction {
  pointer-events: none;
}

.gray-bordered-box {
  border: 1px solid $grayBorder;
  background: $bgColor;
  padding: 20px;
}

.map-marker-background {
  background: $yellowColor;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: visible;
  .map-marker-body {
    display: inline-block;
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: white;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    overflow: hidden;
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }


  .map-marker-rectangle {
    bottom: -11%;
    left: 50%;
    position: absolute;
    width: 40%;
    height: 40%;
    background: #f1d214;
    display: inline-block;
    transform: translateX(-50%) rotate(45deg);
  }

}


.w-100p-textarea {
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  padding: 5px;

  &.has-bg {
    background-color: $textareaBg;
  }
}


*:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


//.map-marker-border {
//  border: 4px solid $yellowColor !important;
//  //border-radius: 50%;
//  display: inline-block;
//  width: 100px;
//  height: 100px;
//  position: relative;
//  background-color: white;
//  img {
//    display: inline-block;
//    position: absolute;
//    left: 0;
//    top: 0;
//    width: 100px;
//    height: 100px;
//  }
//}





@for $i from 0 through 100  {
  .width-#{$i}p {
    width: #{$i}% !important;
  }
}

@for $i from 0 through 500  {
  .min-width-#{$i}px {
    min-width: #{$i}px !important;
  }
}

@for $i from 0 through 100 {
  .margin-left-#{$i} { margin-left: #{$i}px !important;}
  .margin-right-#{$i} { margin-right: #{$i}px !important; }
  .margin-top-#{$i} { margin-top: #{$i}px !important; }
  .margin-bottom-#{$i} { margin-bottom: #{$i}px !important; }
  .padding-left-#{$i} { padding-left: #{$i}px !important;}
  .padding-right-#{$i} { padding-right: #{$i}px !important; }
  .padding-top-#{$i} { padding-top: #{$i}px !important; }
  .padding-bottom-#{$i} { padding-bottom: #{$i}px !important; }
}

.bootstrap-classes {
  position: fixed;
  left: 0;
  top: 0;
}

a, .text-primary {
  color: $blueColor;
}

.btn-primary {
background-color: $blueColor;  
border-color: $blueColor;  
}

.pointer {
  cursor: pointer;
}

.ch-page-header {
  border: 1px solid $grayBorder;
  background: $bgColor;
  padding: 5px 20px;
  font-size: 20px;
  margin-bottom: 30px;
  //font-weight: bold;
}

.blue-title {
  color: $blueColor;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: $bgColor;
  line-height: 30px;
  border-top: 1px solid $grayBorder;
}

.invalid {
  .input-group-addon {
    border-color: #a94442;
  }
  input:not(.inputFilter), textarea{
    border:1px solid #a94442 !important;
  }
  button:not(.btn-sm):not(.uib-tile):not(.helperButton):not(.clearButton) {
    border:1px solid #a94442 !important;
  }
  // label {
  //   color: #a94442 !important;
  // }
}
