// @import url('https://themes.googleusercontent.com/fonts/css?kit=wAPX1HepqA24RkYW1AuHYA');
ol.lst-kix_list_3-1 {
    list-style-type: none
}

.lst-kix_list_2-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-7>li:before {
    content: "o  "
}

ol.lst-kix_list_3-2 {
    list-style-type: none
}

.lst-kix_list_3-7>li {
    counter-increment: lst-ctn-kix_list_3-7
}

.lst-kix_list_3-1>li {
    counter-increment: lst-ctn-kix_list_3-1
}

ol.lst-kix_list_3-3 {
    list-style-type: none
}

ol.lst-kix_list_3-4.start {
    counter-reset: lst-ctn-kix_list_3-4 0
}

ol.lst-kix_list_3-4 {
    list-style-type: none
}

ul.lst-kix_list_1-0 {
    list-style-type: none
}

.lst-kix_list_2-4>li:before {
    content: "o  "
}

.lst-kix_list_2-5>li:before {
    content: "\0025aa  "
}

.lst-kix_list_2-8>li:before {
    content: "\0025aa  "
}

ol.lst-kix_list_3-0 {
    list-style-type: none
}

.lst-kix_list_3-0>li:before {
    content: " "
}

ol.lst-kix_list_3-1.start {
    counter-reset: lst-ctn-kix_list_3-1 0
}

.lst-kix_list_3-1>li:before {
    content: " "
}

.lst-kix_list_3-2>li:before {
    content: " "
}

ol.lst-kix_list_3-0.start {
    counter-reset: lst-ctn-kix_list_3-0 0
}

ul.lst-kix_list_1-3 {
    list-style-type: none
}

.lst-kix_list_3-5>li:before {
    content: " "
}

ul.lst-kix_list_1-4 {
    list-style-type: none
}

ul.lst-kix_list_1-1 {
    list-style-type: none
}

.lst-kix_list_3-4>li:before {
    content: " "
}

ul.lst-kix_list_1-2 {
    list-style-type: none
}

ul.lst-kix_list_1-7 {
    list-style-type: none
}

.lst-kix_list_3-3>li:before {
    content: " "
}

ol.lst-kix_list_3-5 {
    list-style-type: none
}

ul.lst-kix_list_1-8 {
    list-style-type: none
}

ol.lst-kix_list_3-6 {
    list-style-type: none
}

ol.lst-kix_list_3-8.start {
    counter-reset: lst-ctn-kix_list_3-8 0
}

ul.lst-kix_list_1-5 {
    list-style-type: none
}

ol.lst-kix_list_3-7 {
    list-style-type: none
}

ul.lst-kix_list_1-6 {
    list-style-type: none
}

ol.lst-kix_list_3-8 {
    list-style-type: none
}

.lst-kix_list_3-8>li:before {
    content: " "
}

.lst-kix_list_3-8>li {
    counter-increment: lst-ctn-kix_list_3-8
}

.lst-kix_list_3-6>li:before {
    content: " "
}

.lst-kix_list_3-7>li:before {
    content: " "
}

ol.lst-kix_list_3-7.start {
    counter-reset: lst-ctn-kix_list_3-7 0
}

.lst-kix_list_3-5>li {
    counter-increment: lst-ctn-kix_list_3-5
}

.lst-kix_list_3-2>li {
    counter-increment: lst-ctn-kix_list_3-2
}

.lst-kix_list_3-4>li {
    counter-increment: lst-ctn-kix_list_3-4
}

ol.lst-kix_list_3-6.start {
    counter-reset: lst-ctn-kix_list_3-6 0
}

ul.lst-kix_list_2-8 {
    list-style-type: none
}

ul.lst-kix_list_2-2 {
    list-style-type: none
}

.lst-kix_list_1-0>li:before {
    content: "-  "
}

ul.lst-kix_list_2-3 {
    list-style-type: none
}

ol.lst-kix_list_3-3.start {
    counter-reset: lst-ctn-kix_list_3-3 0
}

ul.lst-kix_list_2-0 {
    list-style-type: none
}

ul.lst-kix_list_2-1 {
    list-style-type: none
}

ul.lst-kix_list_2-6 {
    list-style-type: none
}

.lst-kix_list_1-1>li:before {
    content: "o  "
}

.lst-kix_list_1-2>li:before {
    content: "\0025aa  "
}

ul.lst-kix_list_2-7 {
    list-style-type: none
}

ul.lst-kix_list_2-4 {
    list-style-type: none
}

ul.lst-kix_list_2-5 {
    list-style-type: none
}

.lst-kix_list_1-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_1-4>li:before {
    content: "o  "
}

ol.lst-kix_list_3-5.start {
    counter-reset: lst-ctn-kix_list_3-5 0
}

.lst-kix_list_3-0>li {
    counter-increment: lst-ctn-kix_list_3-0
}

.lst-kix_list_1-7>li:before {
    content: "o  "
}

.lst-kix_list_3-3>li {
    counter-increment: lst-ctn-kix_list_3-3
}

.lst-kix_list_1-5>li:before {
    content: "\0025aa  "
}

.lst-kix_list_1-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_3-6>li {
    counter-increment: lst-ctn-kix_list_3-6
}

.lst-kix_list_2-0>li:before {
    content: "-  "
}

.lst-kix_list_2-1>li:before {
    content: "o  "
}

ol.lst-kix_list_3-2.start {
    counter-reset: lst-ctn-kix_list_3-2 0
}

.lst-kix_list_1-8>li:before {
    content: "\0025aa  "
}

.lst-kix_list_2-2>li:before {
    content: "\0025aa  "
}

.lst-kix_list_2-3>li:before {
    content: "\0025cf  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c7 {
    -webkit-text-decoration-skip: none;
    color: #0563c1;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 10pt
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 10pt
}

.c3 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: italic
}

.c13 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Calibri";
    font-style: normal
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c11 {
    padding-top: 5pt;
    padding-bottom: 5pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c5 {
    background-color: #ffffff;
    max-width: 453.6pt;
    padding: 70.8pt 70.8pt 70.8pt 70.8pt
}

.c9 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c8 {
    padding: 0;
    margin: 0
}

.c10 {
    color: inherit;
    text-decoration: inherit
}

.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 10pt;
    font-family: "Times New Roman"
}

p {
    margin: 0;
    color: #000000;
    font-size: 10pt;
    font-family: "Times New Roman"
}

h1 {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}