.edit-user-accounts-modal-body {
    input {
        margin-bottom: 5px;
    }
    label {
        margin-top: 6px;
    }
    input[type="radio"] {
        cursor: pointer;
    }
    .radio-label {
        font-weight: normal;
        line-height: 34px;
        vertical-align: top;
        margin-right: 20px;
        cursor: pointer;
    }
}