.view-issue-container {
  .row {
    &.top-data {
      text-align: left;
      &>div {
        min-height: 34px;
        line-height: 34px;
        margin-bottom: 15px;
        label {
          margin-bottom: 0;
        }
        .dropdown {
          max-height: 34px;
          line-height: normal;
        }
      }
    }
  }

  .attached-images {
    img {
      width: 250px;
      height: auto;
      border: 1px solid;
    }
  }
}