<div class="dashboard-container container-fluid" ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="" style="width: 100%; position: absolute; z-index: -1"><img style="width: 50%" src="./img/sigil.png" class="logo"></div>
        </div>
        <div class="col-xs-12" ng-bind-html="translate('DASHBOARD_HELP', '')">
        </div>
    </div>



    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<div class="gray-bordered-box">-->
                <!--<label class="margin-bottom-20" ng-bind="translate('MOST_RANKED_ISSUES', 'Most ranked issues')"></label>-->
                <!--<grid id="dashboard_grid" grid-factory="gridFactory" data-actions="actions" ng-if="runtimeData.dataLoaded"></grid>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>