<div class="grid-container">
    <!--<a href="javascript:" ng-click="gridFactory.filter('STATUS','content', 'Old')">filter STATUS Old</a>-->
    <!--<a href="javascript:" ng-click="gridFactory.filter('RANK','content', 90)">filter RANK 90</a>-->
    <!--<a href="javascript:" ng-click="gridFactory.clearFilters()">Clear filters</a>-->
    <div class="grid-table-container">
        <table class="grid" ng-if="gridFactory.configLoaded" ng-init="gridFactory.filteredHeaderList = (gridFactory.config.headers | objListToArray | orderBy:order:false:headerComparator)">
            <thead>
                <tr>
                    <th ng-repeat="header in gridFactory.filteredHeaderList" ng-class="{pointer: gridFactory.config.order[header.key], 'row-selection':header.type === 'row-selection', 'min-width-250px': header.type === 'multiple-links'}"
                        ng-click="gridFactory.toggleOrder(header.key)">
                        <span ng-if="gridFactory.config.order[header.key]" class="glyphicon" ng-class="{'glyphicon-triangle-bottom': gridFactory.config.order[header.key] === 'asc',
            'glyphicon-triangle-top': gridFactory.config.order[header.key] === 'desc'}">&nbsp;</span>
                        <span ng-if="header.type !== 'row-selection'" ng-bind="translate(header.key, header.key)"></span>
                        <span ng-if="header.type === 'row-selection'"><input type="checkbox" ng-model="runtimeData.allVisibleItemsCheckSelected" ng-change="allVisibleSelectionChanged()"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!---->
                <!-- | filterGrid:gridFactory.filters -->
                <tr ng-class="{'row-selectable': isRowSelectable}" ng-repeat="item in gridFactory.filteredAndOrderedItems = (gridFactory.items | orderBy:gridFactory.orderBy:true)"
                    ng-if="gridFactory.itemVisible($index, item)">
                    <td ng-repeat="header in gridFactory.filteredHeaderList" ng-class="{'row-selection': header.type === 'row-selection'}">
                        <div class="multiple-links" ng-if="header.type == 'multiple-links'">
                            <span ng-repeat="(link, linkValue) in header.links" ng-if="showLink(linkValue, item)">
                                <span class="separator" ng-if="$index > 0">|</span>
                                <a href="javascript:" ng-click="action(link, item)" ng-bind="translate(link, link)"></a>
                            </span>
                        </div>
                        <span ng-if="(header.type == 'text' || header.type == 'number') && header.convertValuesFunction" ng-bind="callFunction(header.convertValuesFunction, header, item)">
                        </span>
                        <span ng-if="(header.type == 'text' || header.type == 'number') && !header.convertValuesFunction" ng-bind="item[header.property]"></span>
                        <span ng-if="header.type == 'key'" ng-bind="translate(item[header.property],item[header.property])"></span>
                        <span ng-if="header.type == 'date'">{{item[header.property] | chDate:'x'}}</span>
                        <span ng-if="header.type == 'row-selection'"><input type="checkbox" ng-model="item.isSelected"></span>
                        <span ng-if="header.type == 'boolean'" ng-bind="translate('BOOL_AS_ANSWER_'+item[header.property],item[header.property])"></span>
                        <span ng-if="header.type == 'datetime'">
                            {{item[header.property] | chDateTime:'x'}}
                        </span>
                        <span ng-if="header.type == 'array' && item[header.property] && item[header.property].length > 0">
                            <span ng-repeat="prop in item[header.property] track by $index">
                                {{prop[header.arrayProperty]}}
                                <span ng-if="!$last" ng-bind="header.propertySeparator"></span>
                            </span>
                        </span>
                        <span ng-if="header.type == 'array' && (!item[header.property] || item[header.property].length == 0) && header.defaultValueKey">
                            {{translate(header.defaultValueKey, '')}}
                        </span>
                        <div ng-if="header.type == 'multiple-properties'">
                            <span ng-repeat="propertyName in header.properties">
                                <!-- {{item[propertyName]}} -->
                                <span ng-if="header.propertyType == 'datetime'">
                                    {{item[propertyName] | chDateTime:'x'}}
                                </span>
                                <span ng-if="header.propertyType !== 'datetime'">
                                    {{item[propertyName]}}
                                </span>
                                <span ng-if="!$last" ng-bind="header.propertySeparator"></span>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" ng-if="gridFactory.configLoaded && gridFactory.filteredAndOrderedItems.length > 0">
        <ul class="pagination pull-left">
            <li ng-class="{disabled: gridFactory.selectedPage < 2}">
                <a href="javascript:" aria-label="Previous" ng-click="gridFactory.selectPage(gridFactory.selectedPage - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="pageNumber in gridFactory.visiblePageNumbers" ng-class="{active: gridFactory.selectedPage == pageNumber}">
                <a href="javascript:" ng-click="gridFactory.selectPage(pageNumber)" ng-bind="pageNumber"></a>
            </li>
            <li ng-class="{disabled: gridFactory.selectedPage >= gridFactory.numberOfPages}">
                <a href="javascript:" ng-click="gridFactory.selectPage(gridFactory.selectedPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        <div class="pull-left pagination total-pages-container">
            <span ng-bind="gridFactory.selectedPage"></span>/
            <span ng-bind="gridFactory.numberOfPages"></span>
        </div>

        <ul class="pagination pull-right">
            <li ng-repeat="item in gridFactory.visibleItemsPerPageButtons" ng-class="{active: gridFactory.itemsPerPage == item}">
                <a href="javascript:" ng-click="gridFactory.selectNumberOfItemsPerPage(item)" ng-bind="item"></a>
            </li>
        </ul>
    </nav>
    <div class="margin-top-20" ng-if="gridFactory.configLoaded && !gridFactory.filteredAndOrderedItems || gridFactory.filteredAndOrderedItems.length == 0"
        ng-bind="translate('NO_ITEMS', 'No items found.')">

    </div>
</div>
